.header {
  max-width: 100%;
  z-index: 99;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #e5e7eb;
  flex-flow: row nowrap;
}

.loginContainer {
  display: flex;
  margin-left: auto;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.loginContainer a {
  text-decoration: none;
  padding: 0 15px;
  color: rgb(37, 99, 235);
  line-height: 60px;
}

.login {
  color: rgb(37, 99, 235);
  text-decoration: none;
}

.logout {
  color: rgb(37, 99, 235);
  text-decoration: none;
  margin-left: 0.5rem;
}
