.header {
  grid-area: h;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid #e5e7eb;
}

.loginContainer {
  display: flex;
  justify-content: center;
  margin-left: auto;
  padding-right: 1rem;
  align-items: center;
}

.login {
  color: rgb(37, 99, 235);
  text-decoration: none;
}
