.sidebar {
  grid: n;
  position: fixed;
  max-width: 80px;
  height: 100%;
  background-color: burlywood;
}

.nav {
  padding-left: 10px;
  padding-top: 100px;
}

.item {
  color: white;
}

.sidebar img {
  padding-left: 10px;
  padding-top: 3px;
  width: 60px;
}
