.app-wrapper {
  /* display: flex;
  width: 100%;
  flex-direction: row;
  height: 100%;*/
  min-height: 100vh;
}

.wrap-whole {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100vh;
}
.app-wrapper-content {
  /* margin-top: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;*/
  background-color: #fff;
  flex: 1 1 600px;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .app-wrapper-content {
    margin: 0;
    background-color: #fff;
    flex: 1 1 600px;
    overflow-y: auto;
  }
}
